
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>Welcome to Grab-a-snack!</h2>
      <p>A food ordering app</p>
    </ion-slide>
    <ion-slide>
      <h2>Currently app is still under development</h2>
      <div>
        <img src="./../../assets/animations/hungry_raccoon.gif" alt="Hungry raccoon">
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Press the 'Start' button to begin!</h2>
      <img src="./../../../assets/images/pizza-food-order-online-pizzeria-ecommerce.jpg" alt="Order pizza food online">
    </ion-slide>
  </ion-slides>
